html {
  font-family: "Bitcount Grid Single", system-ui;
  font-size: 10px;
  background-color: #bbcfe2;
}

body {
  width: 600px;
  margin: 30px auto;
  background-color: #adb1ff;
  padding: 0 40px 20px 40px;
  border: 7px ridge rgba(145, 238, 238, 0.807);
}

h1 {
  margin: 0px;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px rgb(18, 18, 18);
  text-align: center;
  font-size: 40px;
}

p,
li,
h2,
footer {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.5px;
}
img {
  display: block;
  margin: 0 auto;
  width: 398px;
  height: 398px;
  object-fit: cover;
}

footer {
  margin: 0px;
  padding: 30px 20px 0px;
  text-align: right;
}
a {
  color: #474dc4;
}
